/* set the margin and padding to zero for all initially */
*{
    margin: 0px;
    padding: 0px;
}

/* make the body height 100% of the screen */
body{
    height: 100vh;
}

/* make the header 10% of the screen and color it light blue */
.header{
    display: flex;
    justify-content: left;
    align-items: center;
    height: 10%;
    font-size: 15px;
    font-weight: 400;
    background-color: #000000;
}

.parentTitle{
    display: flex;
    flex-direction: column;
}

.logo{
    display: flex;
    justify-content: left;
    align-self: center;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    padding-left: 5px;
    background-color: #ffffff;
}
#head{
    justify-content: left;
    align-self: left;
    font-size: 20px;
    font-weight: 400;
    width:fit-content;
    color: #ffffff;
    margin-left: 10px;
    padding-left: 10px;
}
#sub{
    justify-content: left;
    align-self: left;
    font-size: 20px;
    font-weight: 400;
    color: #ffffff;
    margin-left: 10px;
    padding-left: 10px;
}

.heart{
    justify-content: right;
    align-self: right;
    margin-left: 850px;
    width: 58px;
    height: 90px;
}

#heart1{
    padding: 20px;
    margin-top: 16px;
    border-radius: 12px;
}

.settings{
    justify-content: right;
    align-self: right;
    margin-left: 10px;
    width: 120px;
    height: 90px;
}

#settings1{
    padding: 20px;
    margin-top: 16px;
    border-radius: 12px;
    width: 120px;
}

.view{
    justify-content: right;
    align-self: right;
    margin-left: 10px;
    width: 58px;
    height: 90px;
}

#view1{
    padding: 20px;
    margin-top: 16px;
    border-radius: 12px;
    width: 58px;
}

.pin{
    justify-content: right;
    align-self: right;
    margin-left: 10px;
    width: 58px;
    height: 90px;
}

#pin1{
    padding: 20px;
    margin-top: 16px;
    border-radius: 12px;
    width: 58px;
}

.avatar{
    justify-content: right;
    align-self: right;
    margin-left: 10px;
    width: 58px;
    height: 90px;
}

#avatar1{
    padding: 20px;
    margin-top: 16px;
    border-radius: 12px;
    width: 58px;
}

.body{
    height: 80%;
    column-gap: 35px;
    row-gap: 35px;
    display: flex;
    justify-content: space-between;

    .html,
    .css,
    .js{
        border: solid #333;
        width: 300px;
    height: 100%;
    max-width: 400px; 
    max-height: 400px;
    color: #ffffff;
}

.code{
    display: flex;
    flex-direction: column;
    color: #000000;

.code-header{
    display: flex;
justify-content: space-between;

.left{
    border-top:4px groove #666;
    background-color: #1d1e22;
    padding: 5px;
    color: #ffffff;

i{
    padding: 0px 7px;
    color: var(--bg-dark);
    margin-right: 10px;
    border-radius: 5px;
}

i.red{
    background: #dd5050;
}

i.blue{
    background: #5050dd;
}

i.yellow{
    background: #dddd50;
}
}

.right{
    flex: 1;
    background-color: #000000;
    display: flex;
    flex-direction: row-reverse;

.icon{
    height: 20px;
    border-radius: 5px;
    margin: 5px 2px;
    background-color: #E2E1DD;

i{
    padding: 4px 8px;
    font-size: 12px;
}

}
}
}

.code-body{
    background-color: #E2E1DD;
    flex: 1;
    border: none;
    color: var(--bg-text-color-dark-mode);
    padding-left: 10px;
}

.code-header{
    height: 70px;

}
}
}


/* make the footer of height 10% of the screen  */
.footer{
    display: block;
    justify-content: center;
    align-items: center;
    height: 10%;
    font-size: 15px;
    font-weight: 400;
    background-color: #000000;
}